#main {
  margin: 0 auto;
}

#main h1 {
  text-align: center;
}

#input {
  text-align: center;
}

#ul {
  padding: 0;
  width: 400px;
  margin: 0 auto;
  list-style: none;
}

#li {
  width: 400px;
  padding: 5px;
}

#li .button {
  float: right;
}